#page, #page body {
  display: table;
  margin: 100;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
}
html {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(http://piskel-imgstore-b.appspot.com/img/7d683d78-21c9-11e6-b866-87f8df2e403c.gif) fixed;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
#page body {
  position: relative;
  background-image: url(/static/img/effect-stripe.png), url(/static/img/effect-noise.png);
  background-repeat: repeat-x, repeat;
  background-position: 0 0%;
  background-attachment: fixed;
  font-size: 21px;
  font-family: Inconsolata, "Lucida Console", Monaco, Courier, monospace;
  font-smooth: never;
  line-height: 2em;
  color: #d4f8e3;
  -webkit-font-smoothing: none;
  text-shadow: -2px 0 0px rgba(0, 0, 225, 0.4), -1px 0 3px rgba(103, 171, 236, 0.6), 1px 0 4px rgba(69, 112, 204, 0.5);
  animation: skip 7s linear infinite, flicker 0.1s steps(2, start) infinite;
}
#page body #holder {
  display: table-cell;
  vertical-align: bottom;
  max-width: 800px;
  margin: 100 auto;
}
#page body #story {
  padding: 10px;
  max-width: 100%;
  display: block;
  line-height: 1.25em;
  overflow:auto;
}
#page body #story:after {
  visibility: visible;
  content: '';
  background-color: #d4f8e3;
  display: inline-block;
  position: relative;
  width: 0.5em;
  height: 1em;
  top: 5px;
  margin-left: 0;
  -moz-box-shadow: -2px 0 0px rgba(0, 0, 225, 0.4), -1px 0 3px rgba(103, 171, 236, 0.6), 1px 0 4px rgba(69, 112, 204, 0.5);
  -webkit-box-shadow: -2px 0 0px rgba(0, 0, 225, 0.4), -1px 0 3px rgba(103, 171, 236, 0.6), 1px 0 4px rgba(69, 112, 204, 0.5);
  box-shadow: -2px 0 0px rgba(0, 0, 225, 0.4), -1px 0 3px rgba(103, 171, 236, 0.6), 1px 0 4px rgba(69, 112, 204, 0.5);
  /*-moz-animation: flicker 0.1s steps(2, start) infinite, ready 1s steps(2, start) 1s infinite;
  -webkit-animation: flicker 0.1s steps(2, start) infinite, ready 1s steps(2, start) 1s infinite;
  animation: flicker 0.1s steps(2, start) infinite, ready 1s steps(2, start) 1s infinite;*/
}
#page body #kick {
  text-shadow: none;
  margin: 10px;
}
#page body #kick a {
  background-color: #d4f8e3;
  color: #1d2b2a;
}
#page body .typed-cursor {
  display: none;
}

@-moz-keyframes skip {
  to {
    background-position: 0 100%;
  }
}
@-webkit-keyframes skip {
  to {
    background-position: 0 100%;
  }
}
@keyframes skip {
  to {
    background-position: 0 100%;
  }
}
@-moz-keyframes flicker {
  to {
    color: #bddeca;
  }
}
@-webkit-keyframes flicker {
  to {
    color: #bddeca;
  }
}
@keyframes flicker {
  to {
    color: #bddeca;
  }
}
@-moz-keyframes ready {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes ready {
  to {
    visibility: hidden;
  }
}
@keyframes ready {
  to {
    visibility: hidden;
  }
}
@media screen and (max-width: 400px) {
  #page body {
    font-size: 18px;
  }
}
