<!DOCTYPE html>
<html>
<head>
<style>
body
{
    max-height: 1000px;
    max-wide: 1000px;
    overflow: hidden;
    background-image: url("http://piskel-imgstore-b.appspot.com/img/7d683d78-21c9-11e6-b866-87f8df2e403c.gif");
}

html
{
    max-height: 1000px;
    max-wide: 1000px;
}

</style>
</head>
<body>

<html>
<center><h1>End of demo,thank you very much.</h1></center>
<center><h1>Team members:</h1></center>
<center><h2>HTML design/ building:</h2></center>
<center><h3>Adrian Unruh</h3></center>
<center><font color="white" this is white.</font> <h3>Chuwei Guo</h3></center>
<center><h3>Jeremy Zhang</h3></center>
<center><h3>Kevin Kim</h3></center>
<center><h2>StoryLine building:</h2></center>
<center><h3>Michelle Lin</h3></center>
<center><h3>Chuwei & Adrian</h3></center>
<center><h2>Pixel Art:</h2></center>
<center><h3>Kevin Kim</h3></center>
<center><font color="black" this is black.</font><h3>Michelle Lin</h3></center>
</html>
	
</body>
</html>