<!DOCTYPE html>
<html>
  <head>
    <title>Welcome - "Some Lost" Demo</title>
  </head>
  <body>
    <h1>"Some Lost" Demo</h1>
    <h3>By some sophomores in a meme school</h3>
    <hr>
    <br>
    <p><b>Directions:</b> Click buttons, read texts, don't get screwed, and give us all your cash.</p>
    <a href="storyline/1"><button type="button">Get danked!</button></a>
  </body>
</html>
